/* LAYOUT */
.admin-layout {
  display: flex;
  min-height: 100vh;
  font-family: Arial;
}

/* SIDEBAR */
.sidebar {
  width: 220px;
  /* background: #1e3c72; */
  background: #1aa89c;
  color: white;
  padding: 20px;
}

.sidebar h2 { 
  margin-bottom: 10px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin: 15px 0;
  cursor: pointer;
  transition: 0.3s;
}

.sidebar li:hover {
  color: #00eaff;
}

/* MAIN */
.main {
  flex: 1;
  padding: 20px;
  background: #f4f6f9;
}

/* TOPBAR */
.topbar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.topbar input {
  padding: 8px;
  width: 200px;
}

.admin-profile {
  font-weight: bold;
}

/* STATS */
.stats {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
}

.stat {
  background: white;
  padding: 15px;
  border-radius: 10px;
  flex: 1;
  text-align: center;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

/* GRID */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
  gap: 15px;
  margin-bottom: 30px;
}

/* CARD */
.card {
  background: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

/* BUTTONS */
.btns {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

button {
  padding: 6px 10px;
  border: none;
  background: #28a745;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

button.reject {
  background: red;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .sidebar {
    display: none;
  }

  .stats {
    flex-direction: column;
  }
}